<%- include('../partials/header') %>

<div>
    <a href="/subs/<%=post.sub%>">Go back to posts</a>
    <h1><%= post.title %></h1>
    <h2><%= post.text %></h2>
</div>


<div>
    <form id="create-comment" method="POST" action="/subs/<%=post.sub%>/posts/<%=post._id%>/comments">
        <label>Text:</label>
        <input type="text" name="text">
        <input type="submit" value="Add Comment">
    </form>
 </div>

<% post.comments.forEach(c => { %>
    <p><%= c.text %></p>
    <% if(post.member.toString() == member._id.toString()){ %>
    <form action="/subs/<%=post.sub%>/posts/<%=post._id%>/comments/<%=c._id%>?_method=DELETE"
        class="delete-comment" method="POST">
        <button type="submit">delete</button>
    <% } %>

<% }) %>


<%- include('../partials/footer') %>
