
<%- include('../partials/header') %>


<h1> WELCOME TO M/<%=sub.name%>! </h1>

<h2>Add a Post!</h2>
<h3>To add a post, please add a topic and either a URL, text, or both</h3>
<div>
    <form id="create-post" method="POST" action="/subs/<%=sub._id%>/posts">
        <label>Post Topic:</label>
        <input type="text" name="title">
        <label>Text:</label>
        <input type="text" name="text">
        <label>URL Link</label>
        <input type="url" name="url">
        <input type="submit" value="Add Post">
    </form>
 </div>

 <div class="list-of-posts">
    <h1>Recent Posts</h1>
    <br>
    <% posts.forEach(function(p) { %>
       <h2><a href="/subs/<%=sub._id%>/posts/<%=p._id%>"><%=p.title%></a></h2>
       <% if(sub.member.toString() == user._id.toString()){ %>
        <form action="/subs/<%=sub._id%>/posts/<%=p._id%>?_method=DELETE"
            class="delete-post" method="POST">
            <button type="submit">delete</button>
        </form>
        <form action="/subs/<%=sub._id%>/posts/<%=p._id%>?_method=PUT"
            class="edit-post" method="POST" autocomplete="off">
            <button type="submit">Save Changes</button>
            <input type="text" name="title" placeholder="edit your topic here">
            <input type="text" name="text" placeholder="edit description here">
        </form>
    <% } %>
   <% }) %>
</div>

<%- include('../partials/footer') %>